body {
  $background: #22354C;
  $login-input-color: #fff;
  $login-label-color: #465f77;
  .form-login {
    color: $login-label-color;
    background-color: $background;
    height: 100%;
    input {
      color: $login-input-color;
    }
  }

  .view-content {
    background-color: $background;
    height: 100%;
  }

  footer {
    color: $login-label-color;
    background-color: $background;
    font-size: 14px;
    padding: 10px;
  }
}
