body {
  $background: #22354C;
  $login-input-color: #fff;
  $login-label-color: #465f77;

  // background-color: $background;
  .login {
    color: $login-label-color;
    background-color: $background;
    height: 100%;
    input {
      color: $login-input-color;
    }
  }

  footer {
    color: $login-label-color;
    background-color: $background;
    font-size: 14px;
  }
}
